* {
  padding: 0;
  margin: 0;
}

.sectionVideo {
  width: 75%;
  margin: auto;
}

.programs-block {
  width: 75%;
  margin: 85px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.programs-block-item {
  width: 48%;
  display: flex;
  justify-content: space-between;
}

.programs-block-item-block {
  position: relative;
}

.programs-block-item-block img {
  width: 100%;
}

.imageBlock {
  position: relative;
}

.imageBlockVoitBlock {
  position: absolute;
  bottom: 4px;
  width: 100%;
  height: 45px;
  background: #f3f9eccc;
  display: flex;
  align-items: center;
}

.imageBlockVoitBlock form::before {
  background-color: red;
}

.imageBlockVoitBlock form input {
  width: 30px;
  height: 30px;
  background: red;
  border: 1px solid red;
}

.item-modal {
  background: rgba(230, 226, 226, 0.7);
  position: fixed;
  top: 0;
  z-index: 105;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-modal-content {
  position: absolute;
  width: 75%;
  background-color: rgba(230, 226, 226, 0.7);
}

.close-btn {
  position: absolute;
  right: 0;
  top: 15px;
  z-index: 99999;
  background: transparent;
  border: none;
  cursor: pointer;
  right: 15px;
}

.openPopUp {
  position: absolute;
  z-index: 25;
  top: 5px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/*==================== Voit style ====================*/
.voitBlock {
  display: flex;
  justify-content: space-between;
}

.voitBlock {
  display: flex;
  align-items: center;
}

.imageBlockVoitBlock {
  transition: all 0.3s;
  cursor: pointer;
}

.imageBlockVoitBlock:hover {
  background: #7ab73a;
}

.imageBlockVoitBlock:hover ul li .check,
.imageBlockVoitBlock:hover ul li label {
  border-color: white;
  color: white;
}

.voitBlockResutDuring {
  width: 88%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.voitBlockResutDuringAll {
  width: 100%;
  background: #f3f9ec;
  height: 8px;
  border-radius: 10px;
  position: relative;
}

.voitBlockResutDuringAll div {
  position: absolute;
  left: 0;
  top: 0;
  background: #7ab73a;
  width: 50%;
  height: 8px;
}

.voitBlockTotalResult {
  width: 10%;
  display: flex;
  justify-content: flex-end;
}

.voitBlockTotalResult p {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  color: #7ab73a;
}

/*==================== Vidieo style ====================*/
.rh5v-Overlay_inner {
  background-color: #ffb300 !important;
  width: 80px !important;
}

.rh5v-DefaultPlayer_component {
  background-color: transparent !important;
}

.rh5v-DefaultPlayer_controls {
  background-color: transparent !important;
}

.rh5v-Seek_track {
  background-color: white !important;
}

.rh5v-Seek_buffer {
  background-color: #c7c7c7 !important;
}

.rh5v-PlayPause_component:hover {
  background-color: transparent !important;
}

.rh5v-Time_duration {
  color: #ffb300 !important;
}

.rh5v-Seek_fill {
  background-color: #ffb300 !important;
}

ul li {
  list-style: none;
}

ul li input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

ul li label {
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 20px;
  font-weight: 600;
  color: #7ab73a;
  line-height: 34px;
  padding: 0 0 0 57px;
  margin: 10px auto;
  z-index: 9;
  cursor: pointer;
  box-sizing: border-box;
  ---webkit-transition: all 0.25s linear;
}

ul li .check {
  display: block;
  position: absolute;
  border: 2px solid #7ab73a;
  border-radius: 100%;
  height: 23px;
  width: 23px;
  top: 10px;
  left: 20px;
  z-index: 5;
  transition: border 0.25s linear;
  -webkit-transition: border 0.25s linear;
}

ul li .check::before {
  display: block;
  position: absolute;
  content: "";
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 4.6px;
  left: 4px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

input[type="radio"]:checked ~ .check::before {
  background: #0dff92;
}

/*==================================================== Program About  ====================================================*/
.programAbout {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding-bottom: 100px;
}

.programAboutRow {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.programAboutRowItem {
  width: 48%;
}

.programAboutRowItemImage {
  width: 100%;
  height: 100%;
  display: flex;
}
.programAboutRowItemImage img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.programAboutRowText {
  background: #f3f9ec;
  height: 92px;
  padding: 0 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.programAboutRowText p {
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  font-size: 22px;
  line-height: 28px;
  font-family: "Roboto", sans-serif;
}

.programAboutRowText p:hover {
  color: #3d7303;
  transition: all 0.5s linear;
}

.modalProgramAbout {
  position: fixed;
  background: rgba(230, 226, 226, 0.7);
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 95;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalProgramAboutContent {
  background-color: white;
  position: absolute;
  width: 50%;
  padding: 55px 50px;
  left: 20%;
  top: 3%;
  box-sizing: border-box;
}

.modalProgramAboutContent {
  width: 60%;
}

.modalProgramAboutContent h2 {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
}

.modalProgramAboutContentTextBlock {
  background-color: transparent;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  padding-right: 35px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

.modalProgramAboutContentTextBlock p {
  line-height: 25px;
  margin-top: 5px;
}

.height {
  height: 300px;
}

.heightNone {
  margin-top: 25px;
  margin-bottom: 25px;
  padding-right: 0;
  font-size: 2px;
  max-height: none !important;
}

.heightNone p {
  font-size: 13px;
  padding-right: 0;
}

.modalProgramAboutContentTextBlock::-webkit-scrollbar {
  background: #d9d9d9;
  border-radius: 40px;
  width: 8px;
}

.close-btn-program {
  width: 20px;
  height: 20px;
}

.close-btn-program img {
  width: 100%;
  height: 100%;
}

.modalProgramAboutContentTextBlock::-webkit-scrollbar-button {
  display: none;
}

.modalProgramAboutContentTextBlock::-webkit-scrollbar-track {
  background: #d9d9d9;
  border-radius: 40px;
}

.modalProgramAboutContentTextBlock::-webkit-scrollbar-thumb {
  background: #ffb300;
  border-radius: 40px;
}

.modalProgramAboutContentBtnBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 45px;
}

.modalProgramAboutContentBtnBlock button {
  border: none;
  cursor: pointer;
  background-color: #ec8000;
  border-radius: 5px;
  padding: 15px 35px 15px 35px;
  font-family: Bokonique;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffff;
  text-transform: uppercase;
}

.modalProgramAboutContentBtnBlock button:hover {
  background-color: #feb100;
  transition: all 0.5s linear;
}

@media screen and (max-width: 1440px) and (min-width: 1024px) {
  .programs-block,
  .programAbout,
  .sectionVideo {
    width: 85%;
  }

  ul li .check::before {
    width: 13px;
    height: 13px;
    top: 3px;
    left: 3px;
  }

  .modalProgramAboutContent {
    padding: 25px 50px;
  }

  .modalProgramAboutContentBtnBlock {
    padding-top: 0;
  }

  .modalProgramAboutContentBtnBlock button:nth-child(2) {
    font-size: 16px;
  }

  .modalProgramAboutContent h2 {
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .modalProgramAboutContentBtnBlock button:nth-child(1) {
    font-size: 14px;
    padding: 10px 25px 10px 25px;
  }

  .openPopUp {
    width: 40px;
    height: 40px;
  }

  .openPopUp img {
    width: 100%;
    height: 100%;
  }

  .imageBlockVoitBlock {
    height: 40px;
  }

  ul li label {
    font-size: 17px;
  }

  ul li .check {
    top: 12px;
    left: 25px;
    height: 18px;
    width: 18px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .programs-block,
  .programAbout,
  .sectionVideo {
    width: 93%;
  }

  .modalProgramAboutContentBtnBlock {
    padding-top: 0;
  }

 

  .modalProgramAboutContent h2 {
    font-size: 21px;
    line-height: 19px;
    padding-bottom: 0;
    font-size: 21px;
    line-height: 19px;
    padding-left: 15px;
    padding-right: 45px;
  }

  .modalProgramAboutContentBtnBlock button:nth-child(1) {
    font-size: 14px;
    padding: 10px 25px 10px 25px;
  }

 

  ul li .check::before {
    width: 12px;
    height: 13px;
    top: 3px;
    left: 3px;
  }

  ul li label {
    font-size: 17px;
  }

  ul li .check {
    top: 12px;
    left: 25px;
    height: 18px;
    width: 18px;
  }

  .openPopUp {
    width: 35px;
    height: 35px;
  }

  .openPopUp img {
    width: 100%;
    height: 100%;
  }

  .programAboutRowText p {
    font-size: 19px;
    line-height: 22px;
  }

  .programAboutRowText {
    padding: 0 15px;
  }
}

@media screen and (max-width: 767px) and (min-width: 290px) {
  .programs-block-item {
    width: 100%;
  }

  .modalProgramAboutContentBtnBlock {
    padding-top: 0;
  }

  .modalProgramAboutContent {
    padding: 20px 43px;
  }

  .modalProgramAboutContent h2 {
    padding-bottom: 0;
    font-size: 16px;
    padding-top: 20px;
    line-height: 19px;
    padding-left: 15px;
    padding-right: 45px;
  }

  .modalProgramAboutContentTextBlock p {
    font-size: 14px;
  }

  .modalProgramAboutContentTextBlock {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .heightNone {
    font-size: 11px !important;
  }

  .modalProgramAboutContentBtnBlock button:nth-child(1) {
    font-size: 10px;
    padding: 5px 20px 5px 20px;
  }

  .modalProgramAboutContent h2 {
    padding-bottom: 0;
    font-size: 15px;
    padding-top: 18px;
  }

 

  .modalProgramAboutContent {
    padding: 15px 23px;
  }

  .modalProgramAboutContentBtnBlock {
    flex-direction: column;
    row-gap: 5px;
  }

  .heightNone p {
    font-size: 11px;
  }

  .modalProgramAboutContentBtnBlock button:nth-child(2) {
    font-size: 16px;
  }

  .close-btn-program {
    width: 11px;
    height: 11px;
  }

  ul li .check::before {
    width: 13px;
    height: 12px;
    top: 2px;
    left: 2px;
  }

  .programAboutRow {
    flex-direction: column;
    row-gap: 25px;
  }

  .programAboutRowItem {
    width: 100%;
  }

  .programs-block {
    row-gap: 25px;
  }

  .programs-block,
  .programAbout {
    width: 90%;
  }

  .sectionVideo {
    width: 100%;
  }

  .programAboutRowText p {
    font-size: 20px;
    line-height: 20px;
  }

  .programAboutRowText {
    background: #f3f9ec;
    height: 70px;
  }

  .voitBlockTotalResult p {
    font-size: 12px;
  }

  .heightNone p {
    font-size: 10px;
  }

  .voitBlockResutDuringAll,
  .voitBlockResutDuringAll div {
    height: 4px;
  }

  .openPopUp {
    width: 23px;
    height: 23px;
  }

  ul li label {
    font-size: 12px;
  }

  ul li .check {
    height: 17px;
    top: 5px;
    width: 17px;
  }

  ul li label {
    padding: 0 0 0 50px;
  }

  .imageBlockVoitBlock {
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 32px;
  }
}

@media screen and (max-width: 450px) {
 

  .modalProgramAboutContent {
    width: 80%;
    left: 10%;
  }

  .modalProgramAboutContent h2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .modalProgramAboutContent {
    padding: 10px 15px;
  }

  .heightNone p {
    font-size: 10px;
  }
}

/* Modal */

body.active-moidal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background-color: rgba(49, 49, 49, 0.8) !important;
}

.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -25%);
  line-height: 1.4;
  background-color: rgba(255, 255, 255, 1);
  padding: 30px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  text-align: center;
  height: 300px;
  overflow-y: scroll;
}

.modal-content h2,
p {
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
}

.close-modal {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  cursor: pointer;
}

/* TOUCH */
/* touch */

.touch {
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.touch .touch-div {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.touch h2 {
  font-weight: 400;
  font-size: 30px;
  color: #000;
  margin: 0;
  margin-bottom: 5px;
}

.touch .line {
  height: 7px;
  width: 200px;
  background-color: #ffb300;
}

form textarea {
  width: 97%;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: 1px solid rgba(172, 164, 164, 1);
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}

form textarea:focus {
  border: 1px solid rgba(255, 179, 0, 1);
}

/* error */

.error {
  border: 1px solid red;
}

/* partisipate media */

@media screen and (max-width: 865px) {
  .partisipate h1 {
    font-size: 23px;
    line-height: 33px;
  }
}

@media screen and (max-width: 665px) {
  .partisipate h1 {
    font-size: 18px;
    line-height: 24px;
  }

  .introducion {
    padding: 0 50px;
  }
}

@media screen and (max-width: 521px) {
  .partisipate {
    padding-bottom: 0;
  }
  .partisipate h1 {
    font-size: 13px;
    line-height: 24px;
  }

  .partisipate button {
    width: 150px;
    height: 51px;
    border: 3px solid #ec8000;
    padding: 10px 0;
    outline: none;
    color: gray;
    transition: background-color 0.3s ease;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
  }

  .introducion {
    padding: 0 20px;
    margin-top: 0;
  }
}

@media screen and (max-width: 378px) {
  .partisipate h1 {
    font-size: 20px;
    line-height: 24px;
  }

  .partisipate div {
    width: 100%;
    left: 0;
  }

  .partisipate button {
    width: 150px;
    height: 51px;
    border: 3px solid #ec8000;
    padding: 10px 0;
    outline: none;
    color: gray;
    transition: background-color 0.3s ease;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
  }
}

/* back */

.touch .back {
  text-decoration: none;
  font-size: 25px;
  color: #000;
  font-weight: 700;
  position: absolute;
  left: 30px;
  top: 30px;
  z-index: 5;
}

.touch .back:hover {
  color: rgba(255, 179, 0, 1);
  text-decoration: underline;
  transition: all 0.5s linear;
}


@media screen and (max-width:430px) {
    .touch .back{
      top: 5px;
      left: 5px;
    }
}



/* introducion */

.introducion {
  padding: 0px 50px;
  margin-top:20px;
}

.introducion-info {
}

.introducion-info p {
  margin-top: 12px;
  line-height: 25px;
}

.introducion-info h4 {
  margin-top: 20px;
}
/* scedule */

.scedule {
  width: 100%;
  margin-top: 60px;
}


.programAboutRowItemBlock:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor:pointer;
  transition: all .5s linear;
}